H1 {
    font-size: 90px;
   
    color:rgb(53, 113, 251);
   
    font-family: Georgia ;
    text-shadow:
    -1px -1px 0 #000080,
     1px -1px 0 #000080,
     -1px 1px 0 #000080,
     1px 1px 0 #000080
}
.feed{
    color: rgb(47, 143, 233);
    font-family: "proxina nova";

    font-weight:100;
    font-size:"20px";
 text-allign: left;

 border: solid 2px rgb(47, 143, 233);
 border-radius: 50px;
 padding: 10px 44px;

}
.feed:hover{
    background-color: #2314;
    color:#fff;
    background-color: rgb(47, 143, 233);
}
.contact{
    color:rgb(47, 143, 233);
    font-family: "proxina nova";
background-color: rgb(47, 143, 233)
    font-weight:100;
    font-size:"20px";
 text-allign: left;

 border: solid 2px rgb(47, 143, 233);
 border-radius: 50px;
 padding: 10px 44px;

}
.contact:hover{
    background-color: #2314;
    color:#fff;
background-color: rgb(47, 143, 233);
}
